@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --primary-color:#7C59b0;
    --border-radius:5px;
}
html{
    box-sizing: border-box;


}
body{
    background-image: url("https://media.istockphoto.com/photos/hands-holding-a-smartphone-and-pointing-at-it-picture-id1358389574?b=1&k=20&m=1358389574&s=170667a&w=0&h=t--F1lGovTfHV75tmyH6ZYbmz48-B92_dO_lQavsFIA=");
    height: 100vh;
    width:auto;
    background-size:cover;
}
h1{
    font-family:Oswald ;
    letter-spacing: 2px;
    color:#fff;
    padding:20px;
    background: rgba(0,0,0,0.4);
    border-radius: var(--border-radius);
    text-align: center;
    cursor:pointer;
    width:375px;
    text-transform: uppercase;
    margin:20px auto 10px;
    user-select: none;
}
h1:hover{
    transform: scale(0.8);
    background: rgba(0,0,0,0.8);
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    background: rgba(0,0,0,0.5);
    color:#fff;
    border-radius: var(--border-radius);
    padding:20px;
    margin:10px;

}
.item:hover{
    background: rgba(0,0,0,0.6);
    transform: scale(0.8);
}

a{
    font-size: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a:link,a:visited{
    color:#fff;
    text-decoration: none;
}


a:hover,a:active{
    text-decoration: underline;
}
.fa-times{
    float:right;
    cursor:pointer;
    z-index:2;
}
.name{
    margin-top: 20px;
    margin-right:20px;
}
.name img{
    height:20px;
    width:20px;
    vertical-align: sub;
    margin-right: 5px;
}

.modal-container{

    background: rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;

}
.show-modal{
    display:flex;
   justify-content: center;
   align-items: center;
}

.modal{
    background:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    max-width:95%;
    width:500px;
    animation: modalopen 5s;
}

@keyframes modalopen{
    form{
        opacity:0;

    }to{
        opacity:1;

    }
}

.close-icon {
    float: right;
    color: white;
    font-size: 22px;
    position: relative;
    top: 13px;
    right: 13px;
    cursor: pointer;
}


.modal-header {
    background: var(--primary-color);
    color: #fff;
    padding: 15px;
}
  
h3 {
    margin: 0;
}
  
.modal-content {
    padding: 20px;
    background: whitesmoke;
}
  
 
.form-group {
    height: 55px;
}
  
.form-input {
    width: 97%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: block;
    outline: none;
}
  
.form-label {
    color: var(--primary-color);
    display: block;
}
  
button {
    cursor: pointer;
    color: white;
    background: var(--primary-color);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: var(--border-radius);
    margin-top: 10px;
}
  
button:hover {
    filter: brightness(110%);
}
  
button:focus {
    outline: none;
}


@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }
}